
    <!-- to do - add logic for: -->
    <!-- add nav bar if logged in -->


    <!-- if current_user? add erb tags -->
      <div class="ui three item menu">
        <a class="active item">Race</a>
        <a class="item">My Fitness Plan</a>
        <a class="item">Team</a>
      </div>
    <!-- end add erb tags -->
