<!DOCTYPE html>
<html>
<head>
  <title>HealthyMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render :partial => 'layouts/nav_bar' %>
  <div ng-app="HealthyMe">
  {{5+5}}
      
  <div class="wrapper" ng-controller="UsersController">  
        <ng-include src="'/partials/user_profile.html'"></ng-include>  
   </div>

  </div> <!-- end wrapper -->
</div>
</body>
</html>
