<!DOCTYPE html>
<html>
<head>
  <title>HealthyMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="HealthyMe">
  <div class="wrapper" ng-controller="ThrowAway">
   {{testing}}
  </div> <!-- end wrapper -->
</body>
</html>
