<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application", media:"all" %>
<%= render :partial => 'layouts/nav_bar' %>

<h1>Race Show Page</h1>


<h3>Map of Race</h3>
<p>current_user.races[race_id].map</p>

<h3>Map of Race</h3>
<p>current_user.races[race_id].date</p>
