<ng-include src="'/partials/nav_bar.html'"></ng-include>


<div class="ui container">

<div class="ui grid">
  <div class="four wide column">
   
  </div>
  
  <div class="ten wide column">
    
     {{steps_data}}
  <div class="ui top attached pink segment header"><h2>Today's Plan</h2></div>

  <table class="ui bottom attached striped table">
    <tbody>
      <tr>
        <td>Focus: </td>
        <!-- <td>{{two_weeks_before[0].focus}}</td> -->
      </tr>
      <tr>
        <td>Activity: </td>
        <!-- <td>{{two_weeks_before[0].activity}}</td> -->
      </tr>
      <tr>
        <td>Completed: </td>
        <td>
          <div class="ui radio checkbox">
            <input type="radio" name="radio" checked="checked">
            <label></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<div class="zeroColMargin"></div>
<div class="zeroColMargin"></div>


 <div class="ui top attached blue segment header"><h2>Fitness Summary</h2></div>

  <table class="ui bottom attached striped table">
    <thead>
      <th>Date</th>
      <th>Focus</th>
      <th>Level</th>
      <th>Completed</th>
    </thead>
    <tbody>
      <tr ng-repeat="day in two_weeks_before">
        <td>Day {{day.day}}</td>
        <td>{{day.focus}}</td>
        <td>{{day.difficulty}}</td>
        <td>
          <div class="ui radio checkbox">
            <input type="radio" name="radio" checked="checked">
            <label></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div> <!-- end container -->