<ng-include src="'/partials/nav_bar.html'"></ng-include>


<div class="ui container">

<div class="ui grid">
  <div class="four wide column">
   
  </div>
  
  <div class="ten wide column">

  <div class="ui top attached pink segment header"><h2>Today's Plan</h2></div>

  <table class="ui bottom attached striped large table">
    <tbody>
      <tr>
        <td class="message">Focus: </td>
        <td class="message">{{focus}}</td>
      </tr>
      <tr>
        <td class="message">Activity: </td>
        <td class="message">{{activity}}</td>
      </tr>
      <tr>
        <td class="message">Completed: </td>
        <td>
          <div class="ui radio checkbox">
            <input type="radio" name="radio" checked="checked">
            <label></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<div class="zeroColMargin"></div>
<div class="zeroColMargin"></div>


 <div class="ui top attached blue segment header"><h2>Fitness Summary</h2></div>

  <table class="ui bottom attached striped large table">
    <thead>
      <th class="message">Date</th>
      <th class="message">Focus</th>
      <th class="message">Level</th>
      <th class="message">Completed</th>
    </thead>
    <tbody>
      <tr ng-repeat="day in steps_data">
        <td class="message">Day {{day.day}}</td>
        <td class="message">{{day.focus}}</td>
        <td class="message">{{day.difficulty}}</td>
        <td class="message">
          <div class="ui radio checkbox">
            <input type="radio" name="radio" checked="checked">
            <label></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div> <!-- end container -->