<ng-include src="'/partials/nav_bar.html'"></ng-include>

<div class="ui container">



  <div class="ui top attached segment">Today's Plan</div>
  <div class="ui attached segment">{{general}}</div>
  <div class="ui attached segment">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <table class="ui bottom attached table">
    <thead>
      <th>Activity</th>
      <th>Level</th>
      <th>Completed</th>
    </thead>
    <tbody>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>

<div class="ui section divider"></div>


 <div class="ui top attached segment">Fitness Plan Overview</div>
  <div class="ui attached segment">
  </div>

  <table class="ui bottom attached table">
    <thead>
      <th>Activity</th>
      <th>Level</th>
      <th>Completed</th>
    </thead>
    <tbody>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>

</div> <!-- end container -->