<!-- <div ng-controller="NavBarController">
<ng-include src="'/partials/nav_bar.html'"></ng-include> 
</div> -->
<div class="threeColMargin">
<h2>if user.races.current_race != nil then hide this races.html partial</h2>
<div class="ui container races">
<div ng-controller="RaceController">


    <table class="ui striped bottom attached table">
              <thead>
                <tr>
                  <th><h2 class="ui center aligned header">Select a Race</h2></th>
                </tr>
              </thead>
              <tbody>
               <tr ng-repeat="race in races_data">
                <td class="raceTd">
                  <h3>{{race.name}}</h3>
                  {{race.date}}
                  <img class="ui centered rounded medium image" ng-src="{{race.image}}" alt="race image">
                  <button class="ui right floated button" ng-click="selectRace()">Select</button>
                  </td>
               </tr>
              </tbody>
    </table>
</div> <!-- RaceController -->
</div>
</div>