<ng-include src="'/partials/nav_bar.html'"></ng-include>

<div class="second-header">
  <div class="ui grid darkGray">
    <div class="sixteen wide column">
      <h2 class="ui header welcome center aligned">{{races_data[0].name}}</h2>
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="sixteen wide column"></div>
  <div class="three wide column"></div>
  <div class="ten wide column race-info-table">
    <div>
      <span class="ui green six item large inverted menu">
        <select id="sel" ng-change="updateCurrentRace()" class="item" ng-model="selectRace" ng-options="race.name as race.name for race in races_data">
          <option value="">Select New Race</option>
        </select>
      </span>
         <!-- <div> -->
          <!-- /\ <p>My race: {{selectRace}}</p> -->
         <!-- </div> -->
    </div>
    <div class="ui top attached yellow segment header"><h2>Race Date: {{races_data[0].date}}</h2></div>
      <table class="ui attached striped table">
        <tbody>
          <tr>
            <td class="message">Days until Race</td>
            <td class="message">{{daysLeft}}</td>
          </tr>
          <tr>
            <td class="message">About</td>
            <td class="message">{{races_data[0].about}}</td>
          </tr>
          <tr>
            <td class="message">Distance</td>
            <td class="message">{{races_data[0].distance}}</td>
          </tr>
          <tr>
            <td class="message">Cost:</td>
            <td class="message">Cost: {{races_data[0].cost | currency}}</td>
          </tr>
          <tr>
            <td class="message">Transportation:</td>
            <td class="message">{{races_data[0].transportation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="three wide column"></div>
</div> <!-- ui grid -->
