<ng-include src="'/partials/nav_bar.html'"></ng-include>
<div ng-controller="RaceController">
  
<div class="ui container">
  

<div class="ui grid">

  <div class="one wide column"></div>

  <div class="four wide column">
    <h1>{{races_data[current_race].name}}</h1>
    <img class="ui rounded image medium" ng-src="{{races_data[current_race].image}}" alt="race image">
    <p>Distance of race: {{races_data[current_race].distance}}</p>
    <p>Date of race: {{races_data[current_race].date}}</p>
    <p>Cost: {{races_data[current_race].cost | currency}}</p>
  </div>

  <div class="one wide column"></div>
  <div class="nine wide column">
    <p>Show one race based on the one race a user selected.</p>
    <p>{{races_data[current_race].about}}</p>
    <p>{{races_data[current_race].transportation}}</p>

  </div>
  <div class="one wide column"></div>




    <div class="one wide column"></div>
    <div class="fifteen wide column"></div>

</div> <!-- ui grid -->

</div> <!-- RaceController -->
</div>