<ng-include src="'/partials/nav_bar.html'"></ng-include>
<div ng-controller="RaceController">
  



<div class="ui grid">
  <div class="one wide column"></div>
  <div class="fourteen wide column">
    <div class="ui top attached aboutRaceHeader">
      <h2 class="ui header">{{races_data[current_race].name}}</h2>
      <div class="ui section divider"></div>  
    </div>
  </div>
  <div class="one wide column"></div>

<!-- sixteen -->

  <div class="one wide column"></div>
  <div class="seven wide column">
        <img class="ui rounded fluid image" ng-src="/images/sf_crowded_streets.jpeg" alt="race image">
        <img class="ui rounded fluid image twoRaceShow" ng-src="/images/sf_ferry_building.jpg" alt="race image">
  </div>

  <div class="seven wide column">
    <div class="ui top attached yellow segment header">Race Details</div>
      <table class="ui attached striped table">
        <tbody>
          <tr>
            <td>Date of Race</td>
            <td>{{races_data[current_race].date}}</td>
          </tr>
          <tr>
            <td>About</td>
            <td>{{races_data[current_race].about}}</td>
          </tr>
          <tr>
            <td>Distance</td>
            <td>{{races_data[current_race].distance}}</td>
          </tr>
          <tr>
            <td>Cost:</td>
            <td>Cost: {{races_data[current_race].cost | currency}}</td>
          </tr>
          <tr>
            <td>Transportation:</td>
            <td>{{races_data[current_race].transportation}}</td>
          </tr>
        </tbody>
      </table>
    </div>

<div class="one wide column"></div>
</div> <!-- ui grid -->

</div> <!-- RaceController -->
