<ng-include src="'/partials/nav_bar.html'"></ng-include>

  <div class="ui text container">
      <h1 class="ui dividing header">Team (Team Name) for One Race (Race Name)</h1>

			
			<div class="ui horizontal section divider">Members</div>
			<div class="ui equal width grid">
			  <div class="row">
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			  </div>
			  <div class="row">
			    <div class="column"></div>
			    <div class="column"></div>
			  </div>
			</div>
  </div>