<ng-include src="'/partials/nav_bar.html'"></ng-include>

  <div class="ui text container">
      <h1 class="ui dividing header center aligned">"The Go Getters" </h1>

			<div class="clearColMarginNoP"></div>
			<div class="ui horizontal section divider">Members</div>
			<p class="right aligned">Add friends <i class="large facebook square icon"></i></p>
			<div class="ui equal width grid">
			  <div class="row clearColMarginNoP">
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			    <div class="column"><img class="ui small circular image" ng-src="images/default_user_image.png" alt="Team Member" /></div>
			  </div>
			  <div class="row">
			    <div class="column"></div>
			    <div class="column"></div>
			  </div>
			</div>


	<div class="clearColMargin">
    <div class="ui top attached message">
      <h3>Message Board</h3>
    </div>
    <table class="ui attached table">
      <tbody>
        <tr>
          <td><img class="ui mini circular image" ng-src="images/default_user_image.png" alt="Team Member" /></td>
          <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</td>
        </tr>
        <tr>
          <td><img class="ui mini circular image" ng-src="images/default_user_image.png" alt="Team Member" /></td>
          <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</td>
        </tr>
        <tr>
          <td><img class="ui mini circular image" ng-src="images/default_user_image.png" alt="Team Member" /></td>
          <td>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>