<ng-include src="'/partials/nav_bar.html'"></ng-include>

<div ng-controller="UsersController">
  
 <div class="twoColMarginUserTwo">
  <div class="ui grid  darkGray">
  <div class="five wide column"></div>
  <div class="six wide column center aligned">
    <p><img class="ui circular avatar small bordered image" ng-src="/images/laura.png" alt="user image"></p>
    <h2 class="ui header welcome">Hi {{user_name}}!</h2>
    <p class="green">Workout plan 0% done</p>
  </div>
  <div class="five wide column"></div>
  </div>
 </div>

</div> <!-- end UsersController -->

<div class="ui container">


  <div class="ui grid">
  <div class="two wide column"></div>  
  <div class="fourteen wide column">
    

 <div ng-controller="RaceController">
  <div class="twoColMarginUser">
    <h1 class="ui header">On your mark, Get set... Go!</h1>
    <table class="ui basic large table">
      <tbody>
        <tr>
          <td>
            <p >Sync your FitBit data with your fitness plan</p>
          <td>
              <div class="right aligned fourColMarginFit">
                <a href="/users/auth/fitbit/"class="ui large green button">Sync with<img class="ui small image fit" ng-src="/images/fitbit_logo.png" alt="fitbit bordered image"></a>
              </div>
          </td> 
        </tr>
        <tr>
          <td>
            <p >What are you training for?</p>
          </td>
          <td>
            <div class="aligned right zeroColMarginSelect">
              <div class="ui large green menu">
                <div class="green menu">
                  <select id="sel" ng-change="sendData()" class="item" ng-model="selectRace" ng-options="race.name as race.name for race in races_data">
                    <option value="">Select Race</option>
                  </select>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Prepare for the race
          </td>
          <td>
            <div class="aligned right zeroColMarginSelect">
             <p>
               <a href="#plan"class="ui large green button">Create Fitness Plan</a>
             </p>
            </div>
          </td>
        </tr>
       </tbody>
      </table>
     </div>
    <div class="one wide column"></div>  
   </div>
  </div>
 </div> <!-- end ng-controller RaceController-->

  

</div>