<ng-include src="'/partials/nav_bar.html'"></ng-include>

<div ng-controller="UsersController">
  <div class="ui grid darkGray">
    <div class="five wide column"></div>
    <div class="six wide column center aligned">
      <p>
        <img class="ui circular avatar small bordered image" ng-src="{{user_image}}" alt="user image">
      </p>
      <h2 class="ui header welcome">Hi {{user_name}}</h2>
      <p class="green">Workout plan 0% done</p>
    </div>
    <div class="five wide column"></div>
  </div>
</div> <!-- end UsersController -->

<div class="ui container">
  <div class="ui grid">
    <div class="two wide column"></div>  
    <div class="twelve wide column">
      <div ng-controller="RaceController">
        <h1 class="ui header center aligned">On your mark, Get set... Go!</h1>
        <table class="ui basic large table">
          <tbody>
            <tr>
              <td>
                <p>Sync your FitBit data with fitness plan</p>
                </td> 
                <td>
                  <a href="/users/auth/fitbit/" class="ui large green button">Sync with<img class="ui small image fit" ng-src="/images/fitbit_logo.png" alt="fitbit bordered image"></a>
                </td>
            </tr>
            <tr>
              <td>
                <p>What are you training for?</p>
              </td>
              <td>
                <span class="ui green six item large inverted menu">
                  <select id="sel" ng-change="sendData()" class="item" ng-model="selectRace" ng-options="race.name as race.name for race in races_data">
                    <option value="">Select Race</option>
                  </select>
                </span>
                   <!-- <div> -->
                    <!-- /\ <p>My race: {{selectRace}}</p> -->
                   <!-- </div> -->
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  <span>Prepare for the race</span>
                </p>
              </td>
              <td>
                <a href="#plan"class="ui large green button">Create Fitness Plan</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!-- end ng-controller RaceController-->
    </div> <!-- end twelve column wide -->
    <div class="two wide column"></div>  
  </div> <!-- end ui grid -->
</div> <!-- end ui container  -->