<h1>Angular Partial</h1>

<h3>Hello {{user_name}} </h3>
	<img src="{{user_image}}" alt="user image">
  <p>

	2 ways to collect user data:
    <ul>
	    <li>connect to Fitbit account</li>	
	    <li>fill out in app form</li>
    </ul>
  </p>

  <p>
	  1. <a href="https://localhost:3000/users/auth/fitbit/">Connect with <img src="/fitbit_logo.png" alt="fitbit image"></a>
	  <br>
	  Don't have a Fitbit? That's ok, head to <a href="https://www.fitbit.com/SignUp" target="blank">Fitbit.com/signup</a> to create a free account. 
  </p>
  
  <p>
	  2. <a href="users/dataform">Add data manually</a>
  </p>

   {{5+10}}