<ng-include src="'/partials/nav_bar.html'"></ng-include>

<div class="ui container">
  <div class="ui grid">

      <div class="sixteen wide column">
        <h3>Hello {{user_name}} </h3>
        <img class="ui rounded small image profileImage" src="{{user_image}}" alt="user image">
      </div>
      
      <div class="sixteen wide column">
        <h2>if user.races.current_race === nil then show races partial</h2>
        <ng-include src="'/partials/races.html'"></ng-include>
      </div>
         
      
      <h3>Visit your fitness plan, in the nav bar above, to begin preparing for your race.</h3>

      <p>
        Upcoming Race: <a href="#race">user.current_race</a>
      </p>

      <p>
        <a href="https://localhost:3000/users/auth/fitbit/">Connect with <img class="ui small image" src="/fitbit_logo.png" alt="fitbit image"></a>
      </p>
      
      <p>
        <a href="users/dataform">Add data manually</a>
      </p>

  </div>

   {{5+10}}

</div>