@font-face {
     font-family: Thonburi-Bold;
     src: url('pathway/Thonburi-Bold.otf'); 
}

// ----------------- General ----------------- 

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}

body > .grid {
 height: 100%;
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
}

h2{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px; 
}

h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.main.container {
  margin-top: 7em;
}

.ui.container {
  padding-top: 5em;
  padding-bottom: 5em;
}

.bodyText {
  font-family: 'HelveticaNeue=Light', 'Helevtica Neue Light';
  font-size: 120%;
}

.field {
  padding-bottom: 1%;
  padding-top: 1%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.right {
    float: right;
}

.boxView {
  margin-top: 4%;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
  text-align: center;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.zeroColMargin {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  background-color: #FFFFFF;
  padding: 2% 2%;
}
.oneColMargin {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  background-color: #FFFFFF;
  padding: 4% 4%;
}
.twoColMargin {
  background-color: #FFFFFF;
  padding: 4% 4%;
}
.threeColMargin {
  background-color: #FFFFFF;
  padding: 4% 4%;
}
.fourColMargin {
  background-color: #FFFFFF;
  padding: 4% 4%;
}

// ----------------- User Show ----------------- 
.welcomeText {
  align: center; 
  display: inline-block;
}

.oneColMarginProfile {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  padding: 4% 4%;
}

.fourColMarginFit {
  margin-top: 15%;
  padding-top: 15%;

}

.zeroColMarginRaces {
  margin-top: 5%;
  padding-top: 15%;
}

.aboutTextDiv{
  margin-top:5%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.profileImage {
  padding: 5% 5%; 
  width: 50%;
  float: left;
  display: inline-block;
}

.ui.section.divider {
  margin-top: 2%; 
  margin-bottom: 2%; 
}

.racesColMargin{
  padding: 4% 4%;
}

.navColMargin {
  padding: 2% 2%;
  color: #C9F9FF;
}


.ui.small.image.fit {
  max-width: 20%;
  align: right;
  display: inline-block;
}

.ui.grid.connectFit {

}

.dropDown {
  padding-left: 5%;
}



.ui.header.races {
  padding: 2% 2%;
}

.ui.compact.menu{
  display: inline-block;
  width: auto;
  float:right
}

// ----------------- Race Index ----------------- 

.ui.container.races {
  padding-left: 15%;
  padding-right: 15%;
}

.select {
  width: 20%;
  float: left;
  display: inline-block;
}

// ----------------- Race Show ----------------- 

// ----------------- Team Show ----------------- 
.clearColMargin {
  margin-top: 10%;
  padding: 4% 4%;
}
.clearColMarginNoP {
  margin-top: 5%;
}