@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face { 
  font-family: Delicious; src: url('Delicious-Roman.otf'); 
} 
@font-face { 
  font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); 
}


// ----------------- General ----------------- 
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.darkGray{
  background-color: #3F3F3F;
}

.green {
  color: #2EBE45;
}

.lightGray{
  background-color: rgba(225, 225, 225, .8);
}

body > .grid {
 height: 100%;
}

.bodyText{
  font-size:120%;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px;
}

h2{
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px; 
}

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

.main.container {
  margin-top: 7em;
}

.ui.container {
  padding-top: 5em;
  padding-bottom: 5em;
}

.field {
  padding-bottom: 1%;
  padding-top: 1%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.right {
    float: right;
}

.boxView {
  margin-top: 4%;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
  text-align: center;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.zeroColMargin {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  background-color: #FFFFFF;
  padding: 2% 2%;
}

.oneColMargin {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  background-color: #FFFFFF;
  padding: 4% 4%;
}

.twoColMargin {
  background-color: #FFFFFF;
  padding: 4% 4%;
}

.threeColMargin {
  background-color: #FFFFFF;
  padding: 4% 4%;
}

.fourColMargin {
  background-color: #FFFFFF;
  padding: 4% 4%;
}

// ----------------- User Show ----------------- 
.welcomeText {
  align: center; 
  display: inline-block;
}

.oneColMarginProfile {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  padding: 4% 4%;
}

.fourColMarginFit {
  margin-top: 5%;
}

.zeroColMarginRaces {
  margin-top: 5%;
  padding-top: 5%;
}

.aboutTextDiv{
  margin-top:5%;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.profileImage {
  padding: 5% 5%; 
  width: 50%;
  float: left;
  display: inline-block;
}

.ui.section.divider {
  margin-top: 2%; 
  margin-bottom: 2%; 
}

.racesColMargin{
  padding: 4% 4%;
}

.navColMargin {
  padding-bottom: 2%;
  color: #C9F9FF;
}

.ui.small.image.fit {
  max-width: 20%;
  align: right;
  display: inline-block;
}

.ui.grid.connectFit {

}

.dropDown {
  padding-left: 5%;
}

.ui.header.races {
  padding: 2% 2%;
}

.ui.compact.menu{
  display: inline-block;
  width: auto;
  float:right
}

.zeroColMarginSelect{
  margin-top: 2%
}

.twoColMarginUser{
  radius: 10px;
}

.fourC
olMarginMessage {
  padding: 2% 2%;
}

.second-header {
  margin-bottom: 20px;
}

.ui.header.welcome{
  color: #FFFFFF;  
  padding: 0%;
  margin: 0%;
}

.ui.circular.avatar.small.bordered.image {
  margin: 5%;
}

.ui.green.six.item.inverted.menu {
  max-width: 200px;
}

.ui.green.six.item.inverted.menu > select  {
  min-width: 100%;
}

.ui.basic.large.table{
  max-width: 600px;
}

// ----------------- Race Index ----------------- 
.ui.container.races {
  padding-left: 15%;
  padding-right: 15%;
}

.select {
  width: 20%;
  float: left;
  display: inline-block;
}

.aboutRaceHeader{
  margin-top: 5%;
}

// ----------------- Race Show ----------------- 
.twoRaceShow {
  margin-top: 5%; 
}

.ui.text.container {
  padding-bottom: 5%;
}

.race-info-table{
  margin-top: 5%;
  margin-bottom: 5%;
  min-width: 600px;
  position: absolute
}

// ----------------- Team Show ----------------- 
.clearColMargin {
  margin-top: 5%;
  padding: 4% 4%;
}

.clearColMarginNoP {
  margin-top: 5%;
}

.add-friends {
  margin-top: 5%;
}

// ----------------- Login ----------------- 
.imageLogin{
  position: absolute; 
  width: 100%; /* for IE 6 */
}

.loginBlock { 
   position: absolute; 
   top: 5%; 
   left: 5%; 
   width: 100%; 
   min-width: 300px;
}

.ui.fluid.image {
  width: 100%;
  min-width: 900px;
  min-height: 550px;
}

.ui.visible.message {
  font-size: 120%;
}

.message {
  font-size: 120%;
  border-radius: 5px;
}

.message > div {
  border-radius: 5px;
}

.message > div > li {
  padding-left: 2%;
}


#content > div > div > div > div.sixteen.wide.column > div > h1 {
  padding-bottom: 1%;
  padding-top: 1%;
  margin-left: 2px;
  padding-left: 5%;
  margin-top: 1%;
  font-size: 4em;
  color: #21BA45;
  text-shadow: 1px 1px black;
}

.floatTextRight {
  float: left;
  margin-top: 10%;
  padding-top: 2%;
  margin-right: 4%;
  margin-left: 2%;
  position: absolute;
  max-width: 250px;
}

.darkBrown {
  background-color: #E9E9ED;
  opacity: .9;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 2%;
  margin-bottom: 1%;
}

//----------------- Plan Show ------------------
.ui.bottom.attached.striped.large.table{
  margin-bottom: 10%;
}

//----------------- Signup ------------------
.sign-up-block {
   margin-top: 5%;
   margin-bottom: 5%;
}

.sign-up-form {
  min-width: 300px;
}

.moreOptions {
  min-width: 300px;
  left: 5%;
}