<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application", media:"all" %>
<%= render :partial => 'layouts/nav_bar' %>

<h1>FitnessPlans#edit</h1>
<p>Find me in app/views/fitness_plans/edit.html.erb</p>
