<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application", media:"all" %>
<%= render :partial => 'layouts/nav_bar' %>

<h1>User's Fitness Plan</h1>
<p>Fitness plan for specific race.</p>
<!-- <h3>Fitness Plan: current_user.races[race_id].fitness_plan</h3> -->

<%= @plans[0] %>