
    <!-- to do - add logic for: -->
    <!-- add nav bar if logged in -->


    <!-- if current_user? add erb tags -->
      <div class="ui four item menu">
        <%= link_to "Profile", users_path(), :class=>"item" %>
        <%= link_to "Race", races_path(), :class=>"item"%>
        <%= link_to "My Fitness Plan",  users_path(), :class=>"item"%>  <!-- plan_path(:id) -->

        <a class="item">Team</a>
      </div>
    <!-- end add erb tags -->
