<div class="ui container">
	<h1>About Healthy Me</h1>
	<p>
		A web application that provides health suggestions to people who are about to run a race.
	</p>
	<h3>Technologies:</h3>
	<ul>
		<li>Ruby 2.2.1</li>
		<li>Ruby on Rails 4.2.3</li>
		<li>Configuration: Bundler</li>
		<li>Database: Postgres 9.4.4.0</li>
	</ul>
</div>