<!DOCTYPE html>
<html>
<head>
  <title>HealthyMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="wrapper">

  <h1>THIS IS THE RAILS "/angular" ROUTE</h1>

  <!-- angualr views here? -->
  <div ng-app="HealthyMe">
    <ng-view></ng-view>
  </div> <!-- ng-app="HealthyMe" -->

  
  <!-- angualr views here? -->
  <!-- <div ng-app="HealthyMe">
  {{5+5}}
      
  <div ng-controller="UsersController">  
    <ng-include src="'/partials/user_profile.html'"></ng-include> 
        
  </div>

  <div ng-controller="RacesController">  
    <ng-include src="'/partials/races.html'"></ng-include> 
        
  </div>

  </div>  --><!-- ng-app="HealthyMe" -->
  
</div> <!-- end wrapper -->
</body>
</html>