<!DOCTYPE html>
<html>
<head>
  <title>HealthyMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- fix to facebook callback -->
  <script type="text/javascript">
      if (window.location.hash && window.location.hash == '#_=_') {
          window.location.hash = '';
      }
  </script>
</head>
<body>

  <div class="wrapper">
    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>